In [1]:
import numpy as np
import pandas as pd
import os
from sklearn.model_selection import cross_val_score, train_test_split
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier, VotingClassifier, RandomForestRegressor, VotingRegressor
import seaborn as sns
import xgboost as xgb
from xgboost import XGBClassifier, XGBRegressor
import matplotlib.pyplot as plt
from catboost import CatBoostClassifier, CatBoostRegressor
from sklearn.preprocessing import LabelEncoder
os.getcwd()

'/Users/tahirabbas'

In [2]:
os.chdir('/Users/tahirabbas/Desktop/imp')

In [3]:
df=pd.read_csv("he.csv")
df.head(5)

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
0,Tiffany Ramirez,81,Female,O-,Diabetes,2022-11-17,Patrick Parker,Wallace-Hamilton,Medicare,37490.983364,146,Elective,2022-12-01,Aspirin,Inconclusive
1,Ruben Burns,35,Male,O+,Asthma,2023-06-01,Diane Jackson,"Burke, Griffin and Cooper",UnitedHealthcare,47304.064845,404,Emergency,2023-06-15,Lipitor,Normal
2,Chad Byrd,61,Male,B-,Obesity,2019-01-09,Paul Baker,Walton LLC,Medicare,36874.896997,292,Emergency,2019-02-08,Lipitor,Normal
3,Antonio Frederick,49,Male,B-,Asthma,2020-05-02,Brian Chandler,Garcia Ltd,Medicare,23303.322092,480,Urgent,2020-05-03,Penicillin,Abnormal
4,Mrs. Brandy Flowers,51,Male,O-,Arthritis,2021-07-09,Dustin Griffin,"Jones, Brown and Murray",UnitedHealthcare,18086.344184,477,Urgent,2021-08-02,Paracetamol,Normal

In [4]:
df.drop(['Name','Date of Admission','Doctor','Hospital','Insurance Provider','Billing Amount',
        'Room Number','Admission Type','Discharge Date'],axis=1,inplace=True)
df.head()

   Age  Gender Blood Type Medical Condition   Medication  Test Results
0   81  Female         O-          Diabetes      Aspirin  Inconclusive
1   35    Male         O+            Asthma      Lipitor        Normal
2   61    Male         B-           Obesity      Lipitor        Normal
3   49    Male         B-            Asthma   Penicillin      Abnormal
4   51    Male         O-         Arthritis  Paracetamol        Normal

In [5]:
df['Blood Type'].unique()

array(['O-', 'O+', 'B-', 'AB+', 'A+', 'AB-', 'A-', 'B+'], dtype=object)

In [6]:
df['Test Results'].unique()

array(['Inconclusive', 'Normal', 'Abnormal'], dtype=object)

In [7]:
a=LabelEncoder()
df['Gender']=a.fit_transform(df['Gender'])
df['Blood_Type']=a.fit_transform(df['Blood Type'])
df['Test_Results']=a.fit_transform(df['Test Results'])
df.tail(5)

,Age,Gender,Blood Type,Medical Condition,Medication,Test Results,Blood_Type,Test_Results
9995,83,1,A+,Obesity,Ibuprofen,Abnormal,0,0
9996,47,0,AB+,Arthritis,Ibuprofen,Normal,2,2
9997,54,1,B-,Arthritis,Ibuprofen,Normal,5,2
9998,84,1,A+,Arthritis,Penicillin,Normal,0,2
9999,20,1,B-,Arthritis,Penicillin,Abnormal,5,0

In [8]:
df.drop(['Blood Type','Medication','Test Results'],axis=1,inplace=True)
df.tail(3)

      Age  Gender Medical Condition  Blood_Type  Test_Results
9997   54       1         Arthritis           5             2
9998   84       1         Arthritis           0             2
9999   20       1         Arthritis           5             0

In [9]:
df['Medical Condition']=a.fit_transform(df['Medical Condition'])
target=y=df['Medical Condition']
target

0       3
1       1
2       5
3       1
4       0
       ..
9995    5
9996    0
9997    0
9998    0
9999    0
Name: Medical Condition, Length: 10000, dtype: int64

In [10]:
df.drop(['Medical Condition'],axis=1,inplace=True)
df.head(2)

   Age  Gender  Blood_Type  Test_Results
0   81       0           7             1
1   35       1           6             2

In [38]:
import xgboost as xgb
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

X=df

In [14]:
params = {'n_estimators': 100, 'learning_rate': 0.1, 'random_state': 42}
xgb_classifier = xgb.XGBClassifier(**params)

xgb_classifier.fit(X_train, y_train)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, device=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=0.1, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              multi_strategy=None, n_estimators=100, n_jobs=None,
              num_parallel_tree=None, objective='multi:softprob', ...)

In [28]:
df.columns

Index(['Age', 'Gender', 'Blood_Type', 'Test_Results'], dtype='object')

In [30]:
column_names = ['Age', 'Gender', 'Blood_Type', 'Test_Results']

user_input = []

for column in column_names:
    user_input.append(float(input(f"Enter value for {column}: ")))

input_df = pd.DataFrame([user_input], columns=column_names)

input_values = input_df.values.reshape(1, -1)

xgb_predictions = xgb_classifier.predict(input_values)

print("XGBoost Predicted Class:", xgb_predictions[0])

Enter value for Age: 81
Enter value for Gender: 0
Enter value for Blood_Type: 7
Enter value for Test_Results: 1
XGBoost Predicted Class: 0

In [29]:
df.head(1)

   Age  Gender  Blood_Type  Test_Results
0   81       0           7             1

In [32]:
y.unique

<bound method Series.unique of 0       3
1       1
2       5
3       1
4       0
       ..
9995    5
9996    0
9997    0
9998    0
9999    0
Name: Medical Condition, Length: 10000, dtype: int64>

In [42]:
df3=pd.read_csv("he.csv")
target=df3['Medical Condition']
target

0        Diabetes
1          Asthma
2         Obesity
3          Asthma
4       Arthritis
          ...
9995      Obesity
9996    Arthritis
9997    Arthritis
9998    Arthritis
9999    Arthritis
Name: Medical Condition, Length: 10000, dtype: object

In [43]:
X_train, X_test, y_train, y_test = train_test_split(X, target, test_size=0.2, random_state=42)

In [44]:
from sklearn.ensemble import RandomForestClassifier, VotingClassifier
from catboost import CatBoostClassifier

rf_classifier = RandomForestClassifier(n_estimators=100, random_state=42)
catboost_classifier = CatBoostClassifier(iterations=100, learning_rate=0.1, verbose=False)

rf_classifier.fit(X_train, y_train)
catboost_classifier.fit(X_train, y_train)

ensemble_model1 = VotingClassifier(estimators=[('Random Forest', rf_classifier), ('CatBoost', catboost_classifier)], voting='soft')  

ensemble_model1.fit(X_train, y_train)

VotingClassifier(estimators=[('Random Forest',
                              RandomForestClassifier(random_state=42)),
                             ('CatBoost',
                              <catboost.core.CatBoostClassifier object at 0x14e9d1990>)],
                 voting='soft')

In [47]:
ensemble_model1.score(X_train, y_train)

0.5255

In [46]:
column_names = ['Age', 'Gender', 'Blood_Type', 'Test_Results']

user_input = []

for column in column_names:
    user_input.append(float(input(f"Enter value for {column}: ")))

input_df = pd.DataFrame([user_input], columns=column_names)

input_values = input_df.values.reshape(1, -1)

ensemble_model100 = ensemble_model1.predict(input_values)

print("Answer:", ensemble_model100[0])

Enter value for Age: 81
Enter value for Gender: 0
Enter value for Blood_Type: 7
Enter value for Test_Results: 1
Answer: Arthritis

/Users/tahirabbas/anaconda3/lib/python3.11/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(